<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" width="80" height="70" alt=""></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#header-wrap">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">
                QuienSomos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#schedules">
                Eventos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">
                Directorio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#event-up">
                Galería
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">
                Noticias
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#sponsors">
                Socios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#google-map-area">
                Contacto
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <div class="contents text-center">
                <div class="icon">
                  <!-- <i class="lni-mic"></i> -->
                  <img src="assets/img/logo.png" width="300" height="100" alt="">
                </div>
               <!-- <p class="banner-info">15, Oct 20- Maria Hall, NY, United states</p> -->
                
                <h2 class="head-title">Asociación Chilena de Reconocimiento de Patrones</h2>
                <p class="banner-desc">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, nobis nesciunt atque perferendis, ipsa doloremque deserunt cum qui.</p>
                <div class="banner-btn">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->
      <br><br><br><br><br><br>
</header>