<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="index.html" class="navbar-brand"><img src="/assets/img/logo.png" width="80" height="70" alt=""></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#header-wrap">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">
                QuienSomos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#charlas">
                Charlas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#eventos">
                Eventos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">
                Directorio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#event-up">
                Galería
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">
                Noticias
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#sponsors">
                Socios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#google-map-area">
                Contacto
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
</header>
<!--<br><br><br><br>-->