  
<label for="abreviacion">Nombre Abreviado</label>
<!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="text" id="abreviacion" name="abreviacion" value="<%= evento.abreviacion %>">
<br>
<label for="nombre">Nombre Completo</label>
<!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="text" id="nombre" name="nombre" value="<%= evento.nombre %>">
<br>
<label for="descripcion">Descripción</label>
<textarea  name="descripcion" id="descripcion" value="<%= evento.descripcion %>"></textarea>
<br>
<label for="link">Link para más información</label>
<input type="text" name="link" id="link" value="<%= evento.link %>">
