<h2>Buscar noticias</h2>
<form action="/authors" method="GET">
<label for="titulo">Titulo:</label>
<input type="text" name="titulo" id="titulo" value="<%= searchOptions.titulo %>">
<button type="submit">Buscar</button>
</form>

<br>

<% eventos.forEach(evento => { %>
    <div><%= evento.titulo %> : <%= evento.descripcion %> )</div>
<% }) %>