<h2>Nueva Noticia</h2>

<form action="/evento" method="POST" enctype="multipart/form-data">

    <%- include('_formFields') %>
    
    <a href="/evento">Cancelar</a>
    <button type="submit">Crear Evento</button>

</form>