  
<label for="nombre">Nombre</label>
<!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="text" id="nombre" name="nombre" value="<%= directorio.nombre %>">
<br>
<label for="institucion">Institución</label>
<textarea  name="institucion" id="institucion" value="<%= directorio.institucion %>"></textarea>
<br>
