<div class="card card-login mx-auto mt-5 col-md-8 col-lg-6">
    <div class="card-header">Iniciar Sesión</div>
    <div class="card-body">
      <%
        console.log(err)
        if( err[0] !== undefined ){
      %>
          <div class="alert alert-danger"> 
            <h3>Error</h3><BR>
              <%
                err.forEach( error => {
              %>
                  <p><%= error.msg %></p>
              <%
                })
              %>
          </div>
      <%
          }
      %>
      <form action="/user/login" method="POST" id="loginForm">
        <div class="form-group">
          <div class="form-label-group">
            <label for="inputEmail">Correo :</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="correo@dominio.com" required="required" autofocus="autofocus"/>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <label for="inputEmail">Contraseña :</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required="required"/>
          </div>
        </div>
        
        <input type="submit" class="btn btn-primary btn-block" value="Iniciar Sesión">
      </form>
      <div style="text-align: center; padding-top: 2%;">
        <a onclick="recuperaPass()" style="cursor: pointer; color:blue; text-align: center;">Recuperar Contraseña</a>
      </div>
    </div>
  </div>


  <script>
    function recuperaPass(){
      email = document.getElementById("inputEmail").value;
      if(email == "" || email == undefined){
        alert("Debe escribir un correo.");
        return;
      }
      opciones = {
        method: 'POST',
        headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
        body: JSON.stringify({ 'correo': email })
      } 


      fetch('/user/recuperar', opciones).then( response => {
        if(response.ok)
          return response.json();
        else  
          alert("Error: " + response.body.message);
      }).then(res => {
        if(res.result == "success"){
          alert("Se ha enviado un correo para el restablecimiento de la contraseña.");
        } else{
          alert("Error: " + res.message);
        }
      })

    }  
  </script>