<div class="card card-login mx-auto mt-5 col-md-8 col-lg-6">
    <div class="card-header">Login</div>
    <div class="card-body">
      <%
        console.log(err)
        if( err[0] !== undefined ){
      %>
          <div class="alert alert-danger"> 
            <h3>Error</h3><BR>
              <%
                err.forEach( error => {
              %>
                  <p><%= error %></p>
              <%
                })
              %>
          </div>
      <%
          }
      %>
      <form action="/user/login" method="POST">
        <div class="form-group">
          <div class="form-label-group">
            <label for="inputEmail">Email :</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"/>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <label for="inputEmail">Password :</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required"/>
          </div>
        </div>
        
        <input type="submit" class="btn btn-primary btn-block" value="Login">Login </input>
      </form>
    </div>
  </div>