<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ACHIRP - Asociación Chilena de Reconocimiento de patrones</title>

    

  </head>
  <body>


    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a href="/" class="navbar-brand"><img src="/assets/img/logo.png" style="max-width: 300px; width= auto; height= 80px"  alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="#header-wrap">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  NOSOTROS
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#charlas">
                  Charlas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#eventos">
                  Eventos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">
                  Directorio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#event-up">
                  Galería
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog">
                  Noticias
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#google-map-area">
                  Contacto
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
      
  </header>

  
  <!--<br><br><br><br>-->
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-sm-12">
            <div class="contents text-center">
              <div class="icon">
                <!-- <i class="lni-mic"></i> -->
                <img src="assets/img/logo.png" width="300" height="100" alt="">
              </div>
             <!-- <p class="banner-info">15, Oct 20- Maria Hall, NY, United states</p> -->
              
              <h2 class="head-title">Asociación Chilena de Reconocimiento de Patrones</h2>

              <p class="banner-desc">
                La Asociación Chilena de Reconocimiento de Patrones (ACHIRP) es una asociación científica sin fines de lucro.</p>
              <div class="banner-btn">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="img-thumb">
              <img class="img-fluid" src="assets/img/about/img1.jpg"  alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="about-content">
              <div>
                <div class="about-text">  
                  <h2>Nosotros</h2>
                  <p>La Asociación Chilena de Reconocimiento de Patrones (ACHIRP) es una asociación científica sin fines de lucro. Su propósito es contribuir al desarrollo del área de la computación denominada Reconocimiento de Patrones.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="about-content">
              <div>
                <div class="about-text">  
                  <h2>Misión</h2>
                  <p>Promover el estudio y difusión del área de Reconocimiento de Patrones, en temas tales como:</p>
                </div>
                <ul class="stylish-list mb-3">
                  <li><i class="lni-check-mark-circle"></i>Reconocimiento de formas</li>
                  <li><i class="lni-check-mark-circle"></i>Análisis e Interpretación de imágenes y señales</li>
                  <li><i class="lni-check-mark-circle"></i>Modelos matemáticos para reconocimiento de patrones</li>
                  <li><i class="lni-check-mark-circle"></i>Reconocimiento de voz</li>
                  <li><i class="lni-check-mark-circle"></i>Visión por computador y teledetección</li>
                  <li><i class="lni-check-mark-circle"></i>Reconocimiento de patrones en astronomía y medicina</li>
                  <li><i class="lni-check-mark-circle"></i>Diseño de hardware y software para el reconocimiento</li>
                  <li><i class="lni-check-mark-circle"></i>Máquinas de aprendizaje y de minería de datos</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="img-thumb">
              <img class="img-fluid" src="assets/img/about/img2.png" alt="">
            </div>
          </div>


          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="img-thumb">
              <img class="img-fluid" src="assets/img/about/img3.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="about-content">
              <div>
                <div class="about-text">  
                  <h2>Objetivos</h2>
                </div>
                <ul class="stylish-list mb-3">
                  <li><i class="lni-check-mark-circle"></i>Contribuir al desarrollo personal de sus socios</li>
                  <li><i class="lni-check-mark-circle"></i>Establecer relaciones científicas con otras organizaciones</li>
                  <li><i class="lni-check-mark-circle"></i>Divulgar y promover información al público</li>
                  <li><i class="lni-check-mark-circle"></i>Crear comités y grupos especializados</li>
                  <li><i class="lni-check-mark-circle"></i>Asesorar a organismos de gobierno</li>
                  <li><i class="lni-check-mark-circle"></i>Estimular la creación de sociedades científicas</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    

     <!-- intro Section Start -->
     <section id="intro" class="intro section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">¿Porqué unirse?</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">La asociación ACHIRP entrega ventajas tales como:</p>
            </div>
          </div>
        </div>
        <div class="row intro-wrapper">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text mb-70">
               <i class="lni-users"></i>
               <h3>Formar parte de IAPR</h3>
               <p>
                Pertenecer a una Asociación cientifica reconocida por la <a href="http://www.iapr.org">International Association for Pattern Recognition (IAPR).</a>
               </p>
               <span class="count-number">01</span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text">
               <i class="lni-users"></i>
               <h3 class="ts-title">Vinculación con investigadores</h3>
               <p>
                Aumenta la interacción y colaboración con otros investigadores en el área.
               </p>
               <span class="count-number">02</span>
            </div>
            <div class="border-shap left"></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="single-intro-text mb-70">
               <i class="lni-bullhorn"></i>
               <h3>Difusión de investigaciones</h3>
               <p>
                Facilitamos la difusión de sus actividades de investigación tanto en Chile como de manera internacional.
                 <br>
                 <br>
               </p>
               <span class="count-number">03</span>
            </div>
          </div>      
        </div>
      </div>
    </section>
    <!-- intro Section End -->
  
    

    <!--%- include("./charlas.ejs") %-->
    <div class="lazy-section" id="contenedor-charlas" data-id="contenedor-charlas" data-ruta="/charlas"></div>


    <!-- Counter Area End-->



    <!--%- include('./eventos.ejs') %-->
    <div class="lazy-section" id="contenedor-eventos" data-id="contenedor-eventos" data-ruta="/eventos"></div>

    <!-- Team Section Start -->
    <!--%- include('./directorio.ejs') %-->
    <div class="lazy-section" id="contenedor-directorio" data-id="contenedor-directorio" data-ruta="/directorios"></div>
    <!-- Team Section End -->

    <section id="event-up" class="section-padding">
  <div class="container">
    <div class="section-title-header text-center">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Galería</h2>    
      <p class="wow fadeInDown" data-wow-delay="0.2s">Revive los momentos de nuestra organización.</p>
    </div>
  
    <div class="row" id="galeria">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
      
    </div>
    <div class="row mt-5" id="btn-ver-mas">
      <div class="col-12 text-center">
        <a onclick="siguientePagina()" style="cursor: pointer;" class="btn btn-common">VER MÁS</a>
      </div>
    </div>
  </div>
</section>


<div id="testModal" class="modal" style="background: black;">
  <div class="modal-dialog" style="position: absolute;top: -15%;right: 0%;bottom: 0;left: 0;overflow: auto;overflow-y: auto;">
    
    <div class="content text-center">
      <form action="/asamblea/del" method="POST" enctype="multipart/form-data">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">×</button>
             <h4 class="section-title-header" id="modal-nombre" style="color:beige; text-size-adjust: 15px;">Titulo de imagen</h4>
          <img class="img-fluid border"  id="modal-imagen" src=""  data-toggle="modal">
            <div class="form-group" >
             <label id="modal-descripcion" style="color: beige;">Descripción</label>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Blog Section Start -->
<section id="blog" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Noticias</h2>
          <br/>
        </div>
      </div>
    </div>
    <div class="row" id="noticias">
    </div>
    <div class="row mt-5" id="btn-ver-mas">
      <div class="col-12 text-center">
        <a onclick="siguientePaginaNoti()" style="cursor: pointer;" class="btn btn-common">VER MÁS</a>
      </div>
    </div>
  </div>
</section>


<div id="noticiasModal" class="modal fade" style="align-content: flex-start; margin-top: -100px;zoom: 75%;">
 
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: black; margin-right: 10px">×</button>
    <div class="content text-center" style="background: white;margin-top: 40%;">
      <form action="/asamblea/del" method="POST" enctype="multipart/form-data">
        
          <div class="embed-responsive  z-depth-1-half">
            
             

            
             <div class="container">
               <div class="featured" style="margin-top: 20px;">
                 <h3 id="modal-titulo-noticia" style="color:black; text-size-adjust: 15px;">TITULO DE LA NOTICIA</h3>
               </div>
               <div class="art_title">
                <h4 id="modal-subtitulo-noticia" style="color:black; text-size-adjust: 15px;">Subtitulo de la noticia</h4>
               </div>
               <img class="img-fluid border"  id="modal-imagen-noticia" src=""  data-toggle="modal" style="margin-top: 5%;">
               <div>
                <hr size="10" noshade="noshade" style="color:#000000; background-color:#000000; border-color:transparent;">
               </div>
               <div class="byline">
                 <p id="modal-fecha-noticia">March 29, 2019</p>
               </div>
               <div class="article">
                <label id="modal-descripcion-noticia" style="color: black; font-family: 'Times New Roman', Times, serif; margin-top: 10%; text-align: left;">
                   </label>
                 </div>
                 </div>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Blog Section End -->
    

    

    <!-- Sponsors Section Start -->
    <!--div class="lazy-section" id="contenedor-socios" data-id="contenedor-socios" data-ruta="/socios"></div -->
    <!-- Sponsors Section End -->

    <!-- Contact Us Section -->
    <section id="contact-map" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Contacto</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">En esta sección puede contactarse vía correo electrónico con el directorio.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
              <div class="form-wrapper">
                <form role="form" method="post" action="/contacto/send" id="contactForm" name="contact-form" data-toggle="validator" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-md-6 form-line">
                      <div class="form-group">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required data-error="Porfavor ingrese su nombre">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6 form-line">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required data-error="Porfavor ingrese su email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12 form-line">
                      <div class="form-group">
                        <input type="tel" class="form-control" id="asunto" name="asunto" placeholder="Asunto" required data-error="Porfavor ingrese un asunto">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="4" id="mensaje" name="mensaje" required data-error="Un mensaje es requerido"></textarea>
                      </div>
                      <div class="form-submit">
                        <button type="submit" class="btn btn-common" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Enviar mensaje</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us Section End -->

  

    <!-- Contact text Start -->
    <section id="contact-text">
      <div class="container">
        <div class="row contact-wrapper">
          <div class="col-lg-4 col-md-5 col-xs-12">
            <ul>
              <li>
                <i class="lni-home"></i>
              </li>
              <li><span>Pontificia Universidad Católica de Valparaíso</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-xs-12">
            <ul>
              <li>
                <i class="lni-phone"></i>
              </li>
              <li><span>+56-2-23037213</span></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-xs-12">
            <ul>
              <li>
                <i class="lni-envelope"></i>
              </li>
              <li><span>hector.allende@pucv.cl</span></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact text End -->

    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
              <h2 class="subscribe-title">¿Quieres formar parte de ACHIRP? Envianos algunos datos que solicitamos para evaluar tu incoporación.</h2>
              <div class="col-12 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfugVxAuim4nY5GyxAzLzsSWqr9TPCcS92SQGAVg3-zqMii1A/viewform" class="btn btn-common">Formulario de Inscripción</a></a>
              </div>
            
            </div>
            <div class="footer-logo">
              <img src="assets/img/logo.png" alt="">
            </div>
            <div class="social-icons-footer">
              <ul>
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/achirp"><i class="lni-facebook-filled"></i></a></li>
                <li class="twitter"><a target="_blank" href="https://twitter.com/icprs16"><i class="lni-twitter-filled"></i></a></li>       
                <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCAy9zEbtsMZr3BHm__1PDeA"><i class="lni-play"></i></a></li>
              </ul>
            </div>
            <div class="site-info">
             <p><a href="/user/login">Editar Contenido</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div id="TestLazy"></div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    



    <script src="public/js/util.js"></script>
    <script src="public/js/galeria.js"></script>
    <script src="public/js/noticias.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/main.js"></script> 
    <script>
      

      window.fadeIn = function(obj) {
          $(obj).fadeIn(1000);
      }


  /*$(window).scroll(function() {
    $.each($('img'), function() {
        if ( $(this).attr('data-src') && $(this).offset().top < ($(window).scrollTop() + $(window).height() + 100) ) {
            var source = $(this).data('src');
            $(this).attr('src', source);
            $(this).removeAttr('data-src');
        }
    })
}) */

        

        function lazy_map(){
          var map = `<object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1406.166084362298!2d-71.61466892201594!3d-33.044738263736264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8598d9e005eea641!2sEscuela%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica%20PUCV!5e0!3m2!1ses!2scl!4v1609001063822!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></object> `;
          parser = new DOMParser();
          doc = parser.parseFromString(map, 'text/html');
          var map_obj = doc.body.firstChild;
          $("#map-container").append(map_obj);
        }

        function lazy_test(ruta, idContenedor){
          fetch(ruta).then(res => {
            if(res.ok){
              return res.text();
            }
          }).then( string =>{
            document.getElementById(idContenedor).innerHTML = string;
          }).catch(e => { console.error(e) })
        }
      

        function carga_secciones() {
          $('.lazy-section').each(function (){
            if ( $(this).attr('data-ruta') ) {
              var ruta = $(this).data('ruta');
              var id = $(this).data('id');
              var obj = $(this)
              fetch(ruta).then(res => {
                
                if(res.ok){
                  return res.text();
                }
              }).then( string =>{
                document.getElementById(id).innerHTML = string;
              }).catch(e => { console.error(e) })
              obj.removeAttr('data-ruta');
              obj.removeAttr('data-id');
              obj.removeClass('lazy-section')
            }

          }).promise().done( () => {
            setTimeout(() => {
              $('#preloader').fadeOut();
            }, 300);
            
          });
          
      }

      </script>     
  </body>
</html>
