<head></head>
<body>
<h2>Buscar charlas</h2>
<form action="/authors" method="GET">
<label for="titulo">Titulo:</label>
<input type="text" name="titulo" id="titulo" value="<%= searchOptions.titulo %>">
<button type="submit">Buscar</button>
</form>

<br>

<% charlas.forEach(charla => { %>
    <div><%= charla.titulo %> : <%= charla.descripcion %> )</div>
<% }) %>

</body>