
<body>
    
<h2>Nueva Charla</h2>

<form action="/charla" method="POST" enctype="multipart/form-data">

    <%- include('_formFields') %>
    
    <a href="/charla">Cancelar</a>
    <button type="submit">Crear Charla</button>

</form>

</body>
