
<body>
    
<h2>Nuevo Integrante</h2>

<form action="/directorio" method="POST" enctype="multipart/form-data">

    <%- include('_formFields') %>
    
    <a href="/directorio">Cancelar</a>
    <button type="submit">Crear integrante</button>

</form>

</body>
