<h2>Nueva Noticia</h2>

<form action="/noticia" method="POST" enctype="multipart/form-data">

    <%- include('_formFields') %>
    
    <a href="/noticia">Cancelar</a>
    <button type="submit">Crear Noticia</button>

</form>