<label for="archivo">Archivo</label>
                    <!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="file" id="archivo" name="archivo">
<br>
<label for="desc">Descripción</label>
<input type="text" name="desc" id="desc">