<h2>Nuevo autor</h2>

<form action="/img" method="POST" enctype="multipart/form-data">

    <%- include('_formFields') %>
    
    <a href="/img">Cancelar</a>
    <button type="submit">Subir Imagen</button>

</form>
